<footer class="mt-4 py-3">
  <div class="container">
    <ul>
      <li>
        <a class="btn btn-light" href="https://github.com/transparenzunion/transparenzunion.github.io/issues/new?assignees=&labels=&template=besucherinnen-feedback.md&title=Feedback">
          <strong>Hinweise einreichen</strong>
        </a>
      </li>
      <li><a class="btn btn-link" href="/"><strong>Zeitleiste</strong></a></li>
      <li><a class="btn btn-link" href="/hall_of_fame"><strong>Hall of Fame</strong></a></li>
      <li><a class="btn btn-link" href="/ueber"><strong>Über diese Seite</strong></a></li>
      <li><a class="btn btn-link" href="https://twitter.com/clankrmnltt"><strong>Twitter</strong></a></li>
      <li><a class="btn btn-link" href="/dsgvo"><strong>Datenschutz</strong></a></li>
      <li><a class="btn btn-link" href="/kontakt"><strong>Impressum</strong></a></li>
    </ul>
  </div>
</footer>
