<footer class="mt-4 py-3">
  <div class="container">
    <ul>
      <li class="btn btn-light">
        <a href="https://github.com/transparenzunion/transparenzunion.github.io/issues/new?assignees=&labels=&template=besucherinnen-feedback.md&title=Feedback">
          <strong>Hinweise einreichen</strong>
        </a>
      </li>
      <li class="btn btn-link"><a href="/"><strong>Zeitleiste</strong></a></li>
      <li class="btn btn-link"><a href="/hall_of_fame"><strong>Hall of Fame</strong></a></li>
      <li class="btn btn-link"><a href="/ueber"><strong>Über diese Seite</strong></a></li>
      <li class="btn btn-link"><a href="https://twitter.com/clankrmnltt"><strong>Twitter</strong></a></li>
      <li class="btn btn-link"><a href="/dsgvo"><strong>Datenschutz</strong></a></li>
      <li class="btn btn-link"><a href="/kontakt"><strong>Impressum</strong></a></li>
    </ul>
  </div>
</footer>
