<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="description" lang="en" content="Unions Deals"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/default.css"/>
  <link rel="icon" type="image/png" href="/assets/images/icon.png" />

  <script async defer data-domain="clankriminalitaet.de" src="https://plausible.io/js/plausible.js"></script>
</head>

